[Unit]
Description=Nostalgia OS first-boot setup
After=network-online.target
Wants=network-online.target
Before=display-manager.service graphical.target

[Service]
Type=oneshot
ExecStart=/usr/lib/nostalgia/10-nostalgia-setup.sh
RemainAfterExit=yes
TimeoutStopFailureMode=abort

[Install]
WantedBy=multi-user.target
