[Unit]
Description=Nostalgia CRT First Boot Setup
After=network.target

[Service]
ExecStart=/etc/firstboot.d/10-nostalgia-setup.sh
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
