[Unit]
Description=Nostalgia Arcade First Boot Setup
After=bazzite-user-setup.service
Before=plasma-plasmashell.service
PartOf=graphical-session.target
ConditionUser=!@system

[Service]
Type=oneshot
ExecStart=/usr/libexec/nostalgia-setup
RemainAfterExit=yes

[Install]
WantedBy=plasma-workspace.target
