[Unit]
Description=Nostalgia Arcade Hardware Tuning
After=local-fs.target systemd-udev-trigger.service
Before=getty@tty1.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/nostalgia-power-tuning
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
